.App {
    text-align: center;

    .select-key {
        width: 100px;
    }

    .key-quality {
        .MuiInputBase-root {
            height: 40px;
        }

        label {
            padding-left: 15px;
        }

        #key-quality-select {
            width: 120px;
        }
    }

    .note-chord-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .key-notes {
            display: flex;
            margin-bottom: 15px;

            > div {
                padding: 10px;
            }
        }

        .key-chords .chord-radio {
            display: flex;
            align-items: flex-start;
            position: relative;

            .chord-notes-link {
                position: absolute;
                left: 100%;
                top: 10px;
                white-space: nowrap;
            }
        }
    }

    .indicator {
        &.default {

        }

        &.highlight {
            background-color: deeppink;
        }
    }

    .goal-buttons {
        display: flex;
        //flex-direction: column;
        align-items: center;

        > * {
            display: flex;
            flex: 1;
        }

        > div {
            background-color: cornflowerblue;
            padding: 10px;
            border-radius: 4px;
            width: 160px;
            justify-content: center;

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }

        .skill-container .skill-point {
            background-color: darkolivegreen;
            width: 30px;
            height: 10px;
            margin-bottom: 5px;
        }
    }

    .practice-notice {
        margin-top: 20px;
    }

    #listener-container {
        position: absolute;
        bottom: 200px;
        right: 50px;
        border: 1px solid cornflowerblue;
        background-color: lightgrey;
        padding: 20px;
    }
}
